.main-content aside h1 {
    font-size: 30px;
    margin: 50px 0;
}

.main-content section h2 {
    margin: 50px 0;
}

.main-content section article {
    display: flex;
    flex-direction: row;
}

.main-content section div {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.main-content input {
    font-size: 15px;
    padding: 5px;
    margin-bottom: 5px;
}

.main-content button {
    font-size: 20px;
    padding: 5px;
}

.main-content section article div p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}